@charset "UTF-8";
body {
    background-color: chocolate;
}
main {
    background-color: white;
    margin: 25px;
    margin-top: auto;
    padding: 10px;
    border-radius: 5px;
}
div {
    display: inline-block;
    background-color: brown;
    border: 1px solid black;
    text-align: center;
    height: 200px;
    width: 200px;
    margin: 5px;
}
